/* Colors */
:root {
  --orange-dk: #ea580c;
  --orange-md: #fb923c;
  --orange-lt: #fdba74;
  --orange-disabled: #ffedd5;
  --blue-dk: #0369a1;
  --blue-md: #0ea5e9;
  --blue-lt: #7dd3fc;
  --blue-disabled: #e0f2fe;
  --green-dk: #065f46;
  --green-md: #10b981;
  --green-lt: #6ee7b7;
  --green-disabled: #d1fae5;
  --red-dk: #991b1b;
  --red-md: #dc2626;
  --red-lt: #f87171;
  --red-disabled: #fee2e2;
  --black-dk: #262626;
  --black-md: #525252;
  --black-lt: #a3a3a3;
  --black-disabled: #e5e5e5;

  /* Spacing */
  --gap-xs: 6px;
  --gap-sm: 10px;
  --gap-md: 20px;
  --gap-lg: 30px;
}

body {
  display: grid;
  grid-template-rows: 60px 1fr;
  column-gap: var(--gap-xs);
  color: var(--black-dk);
  font-family: "SUSE", sans-serif;
}

.hidden {
  display: none;
}
.order0 {
  order: 1 !important;
}
.order1 {
  order: 2 !important;
}

/* Media queries */
/* @media (min-width: 666px) { */
@media (min-width: 701px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  #layout-header {
    display: none !important;
  }
  #resume-wrapper {
    display: grid;
    grid-template-columns: min(198px) auto;
    max-width: 750px;
    column-gap: var(--gap-md);
    margin: auto;
  }
  #resume-main {
    order: 1;
  }
  #resume-aside {
    order: 0;
  }
  #layout-aside {
    display: inline-flex;
    height: auto !important;
    position: static !important;
    width: auto !important;
  }
  #theme-section {
    margin-right: 10px;
  }
  #wrapper-themebox {
    min-width: 200px;
  }
  #toggles-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
  }
  #toggle-section > h3 {
    margin: var(--gap-xs) !important;
  }
  .toggle-wrapper {
    display: inline-flex !important;
    justify-content: space-between !important;
    min-width: 1px !important;
  }
  .toggle-wrapper ~ * {
    margin-bottom: var(--gap-sm);
  }
}

@media (min-width: 912px) {
  body {
    /* grid-template-columns: minmax(166px, 250px) minmax(728px, auto); */
    grid-template-columns: minmax(182px, 250px) minmax(728px, auto);
    grid-template-rows: 1fr;
  }
  #layout-aside {
    display: inline-block;
    position: sticky !important;
    top: 0px;
    height: 100vh !important;
    padding: var(--gap-sm);
  }
  #theme-section {
    margin-right: 0px;
  }
  #theme-section > h3 {
    margin: var(--gap-md) 0px !important;
  }
  #toggle-section > h3 {
    margin: var(--gap-md) 0px !important;
  }
  #wrapper-themebox {
    min-width: auto;
  }
  .toggle-wrapper {
    display: flex !important;
    justify-content: space-between !important;
    gap: 0px !important;
    width: 250px !important;
  }
  .toggle-wrapper ~ * {
    margin-bottom: 0px;
    margin-top: var(--gap-md) !important;
  }
}
