/* Media queries */
/* @media (min-width: 666px) { */
@media (min-width: 701px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  #layout-header {
    display: none;
  }
  #resume-wrapper {
    display: grid;
    grid-template-columns: min(198px) auto;
    max-width: 750px;
    column-gap: var(--gap-md);
    margin: auto;
  }
  #resume-main {
    order: 1;
  }
  #resume-aside {
    order: 0;
  }

  header > #profile-header {
    justify-content: start;
  }
  #layout-aside {
    display: inline-flex;
    height: auto;
    position: static;
    width: auto;
  }
  #theme-section {
    margin-right: 10px;
  }
  #wrapper-themebox {
    min-width: 200px;
  }
  #toggle-section {
    margin-left: var(--gap-sm);
  }
  #toggles-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
  }
  #toggle-section > h3 {
    margin: var(--gap-xs);
  }
  .toggle-wrapper {
    display: inline-flex;
    justify-content: space-between;
    min-width: 1px;
  }
  .toggle-wrapper ~ * {
    margin-bottom: var(--gap-sm);
  }
}

@media (min-width: 912px) {
  body {
    /* grid-template-columns: minmax(166px, 250px) minmax(728px, auto); */
    grid-template-columns: minmax(182px, 250px) minmax(728px, auto);
    grid-template-rows: 1fr;
  }
  #layout-aside {
    display: inline-block;
    position: sticky;
    top: 0px;
    height: 100vh;
    padding: var(--gap-sm);
  }
  #theme-section {
    margin-right: 0px;
  }
  #theme-section > h3 {
    margin: var(--gap-md) 0px;
  }
  #toggle-section {
    margin-left: 0px;
  }
  #toggle-section > h3 {
    margin: var(--gap-md) 0px;
  }
  #wrapper-themebox {
    min-width: auto;
  }
  .toggle-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    width: 250px;
  }
  .toggle-wrapper ~ * {
    margin-bottom: 0px;
    margin-top: var(--gap-md);
  }
}
